/* For portrait*/

@media screen and (orientation: portrait) {
    /* Top nav styling */
    #top_navigation {
        background-color: white;
        height: 122px;
        padding-top: 10px;
    }

    .logo {
        top: 10px;
        height: 52px;
    }

    #category_icon {
        position: absolute;
        top: 25px;
        left: 28px;
        color: #6c7075;
        font-size: 25px;
    }

    #promotion_icon {
        position: absolute;
        top: 25px;
        right: 28px;
        color: #f28500;
        font-size: 25px;
    }

    .ui-filterable {
        width: auto;
        margin-left: 25px;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
        margin-right: 25px;
    }

    #filter_icon {
        text-align: center;
        margin-top: 10px;
        font-size: 20px;
        color: #6c7075;
    }

    /* Home Page content styling */

    #promo_title, #category_title, #offers_title, #services_title {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        margin-bottom: 15px;
        font-size: 20px;
        color: black;
    }

    .carousel-inner img {
        width: 100%;
        height: 100%;
        align-content: center;
    }

    .slides{
        text-align: center;
    }

    .flash{
        padding-bottom: 5px;
        text-align: center;
    }
    #countDown{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        font-size: larger;
        color: white;
        padding: 5px;
    }
}

/* For landscape*/

@media screen and (orientation: landscape) {
    /* Top nav styling */
    #top_navigation {
        background-color: white;
        height: 105px;
        padding-top: 10px;
    }

    .logo {
        top: 10px;
        height: 40px;
    }

    #category_icon {
        position: absolute;
        top: 25px;
        left: 28px;
        color: #6c7075;
        font-size: 20px;
    }

    #promotion_icon {
        position: absolute;
        top: 25px;
        right: 28px;
        color: #f28500;
        font-size: 20px;
    }

    .ui-filterable {
        width: auto;
        margin-left: 20px;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
        margin-right: 20px;
    }

    #filter_icon {
        text-align: center;
        margin-top: 10px;
        font-size: 20px;
        color: #6c7075;
    }

    /* Home Page content styling */

    #promo_title, #category_title, #offers_title, #services_title {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        margin-bottom: 15px;
        font-size: 22px;
        color: black;
    }

    .carousel-inner img {
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .slides{
        text-align: center;
    }
    .flash{
        padding-bottom: 5px;
        text-align: center;
    }
    #countDown{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        font-size: larger;
        color: white;
        padding: 5px;
    }
}
/*flash sales*/

.c1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin:20px 10px;
    padding: -20px;
    text-align: center;
    /*max-width: 500px;*/
}
.product-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.product-qty {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: red;
    text-align: right;
}

.product-desc {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: darkgray;
}

.product-image-td {
    text-align: left;
    border-left: 10px solid #f28500;
    border-right: 1px solid gainsboro;
}
.product-data-td {
    padding-top: 5px;
    text-align: left;
    padding-left: 15px;
}
@media (min-width: 600px) {
    .product-title {
        font-size: 24px;
    }
    .product-price{
        font-size: 26px;
    }
    .product-qty{
        padding-top: 10px;
        padding-right: 40px;
        text-align: right;
        font-size: 20px;
    }
    .del{
        padding-top: 5px;
        padding-right: 40px;
        text-align: right;
        font-size: 20px;
    }

    .c1 {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin:30px 150px;
        padding: -20px;
        text-align: center;
        /*max-width: 500px;*/
    }
}
@media (min-width: 1000px) {
    .c1 {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin:30px 170px;
        padding: -20px;
        text-align: center;
        /*max-width: 500px;*/
    }
}

.product-extra-td{
    padding-top: 5px;
    padding-right: 10px;
    text-align: right;
}
.product-price {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: red;
}
.checked{
    color: #f28500;
    text-shadow: 0 0 3px #ffbf00;
    font-size: 12px;
}

.unchecked{
    color: white;
    text-shadow: 0 0 3px #222222;
    font-size: 12px;
}

/* Bottom nav styling */

#bottom_nav {
    height: 50px;
    background: white;
}

#qrcode_icon, #cart_icon,  #user_icon, #other_icon {
    color: #6c7075;
    font-size: 20px;
    border: 10px solid white;
    background: white;
    text-align: center;

}

#home_icon{
    color: #f28500;
    font-size: 20px;
    border: 10px solid white;
    background: white;
    text-align: center;
}
/* Categories scroll view styling */

.categories_menu {
    background-color: white;
    overflow: auto;
    white-space: nowrap;
    text-align: center;

}

.categories_menu a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
}
#categories_type {

    white-space: nowrap;
    display: inline-block;
    font-size: 14px;
    color: #6c7075;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 10px;
}

.circle-icon {
    background: white;
    color: #f28500;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 1px solid #f28500;
    text-align: center;
    vertical-align: middle;
    margin-right: 18px;
    padding: 10px;
    margin-bottom: 5px;
}

/* Promotion overview card sliders styling*/
.imgpromo{
    max-width: 100px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}

@media (width: 768px) {
    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {

        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
        margin-bottom: 50px;
    }



    /* left or forward direction */
    /*.active.carousel-item-left + .carousel-item-next.carousel-item-left,*/
    /*.carousel-item-next.carousel-item-left + .carousel-item,*/
    /*.carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,*/
    /*.carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {*/
        /*position: relative;*/
        /*transform: translate3d(-100%, 0, 0);*/

    /*}*/

    /*!* farthest right hidden item must be also position for animations *!*/
    /*.carousel-inner .carousel-item-prev.carousel-item-right {*/
        /*position: absolute;*/
        /*top: 0;*/
        /*left: 0;*/
        /*z-index: -1;*/
        /*display: block;*/
        /*visibility: visible;*/

    /*}*/

    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

    .container-fluid {
    bottom: 30px

    }

    #myCarousel {
        bottom: 30px;
        padding: 30px;
    }


/*Items tab view styling*/

    #most-popular {

        font-size: larger;
    }

}

/*Categories icon overlay styling*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    /*background-color: rgba(255,255,255, 0.9);*/
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 24px;
    color: black;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 100px;
    right: 40px;
    font-size: 40px;
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 73px;
        right: 30px;
    }
}

/*    second slides*/
.mySlides {
    display:none
}
.w3-tag, .fa {
    cursor:pointer
}
.w3-tag {
    height:15px;width:15px;padding:0;margin-top:6px
}

/*Footer Styling*/
.mb-4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #f28500;
    font-size: 14px;
}
.mb-3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    text-align: center;
}
.page-footer-class{
    background-color: #6c7075;
}

.page-footer-class p{
    background-color: #6c7075;
    color: white;
}
.page-footer-class a{
    color: white;
}
/*footer {*/

/*background-attachment: scroll;*/
/*background-color:#222;*/
/*background-size: cover;*/
/*background-position: bottom;*/
/*}*/
/*footer p {*/
/*color: #ccc;*/
/*}*/
/*footer a {*/
/*color: #ccc;*/
/*}*/
.social-pet li {
    display: inline-block;
    margin-right: 8px;
}
.social-pet li a {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    display: block;
    line-height: 30px;
    background-color: #f28500;
    color: #fff;
}
.social-pet li:nth-child(2) a {
    background-color: #f28500;
}
.social-pet li:nth-child(3) a {
    background-color: #f28500;
}
.social-pet li:nth-child(4) a {
    background-color: #f28500;
}
.social-pet li a:hover {
    background-color: #f28500;
}
.social-pet li a:hover i {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

footer .input-group-addon {
    background-color: #0141a2;
    padding: 10px;
}

.f-address li {
    display: inline-block;
    margin-left: -40px;
}
.f-address li i {
    color: #f28500;
    font-size: 18px;
}
.f-address li a {
    color: #ccc;
}
/*=-Copyright-=*/
.copyright {
    background-color: #f28500;
    padding: 12px 0;
    font-size:14px;
}