/* For portrait*/

@media screen and (orientation: portrait) {
    /* Top nav styling */
    #top_navigation {
        background-color: white;
        height: 122px;
        padding-top: 10px;
    }

    .logo {
        top: 10px;
        height: 52px;
    }

    #category_icon {
        position: absolute;
        top: 25px;
        left: 28px;
        color: #6c7075;
        font-size: 25px;
    }

    #promotion_icon {
        position: absolute;
        top: 25px;
        right: 28px;
        color: #f28500;
        font-size: 25px;
    }

    .ui-filterable {
        width: auto;
        margin-left: 25px;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
        margin-right: 25px;
    }

    #filter_icon {
        text-align: center;
        margin-top: 10px;
        font-size: 20px;
        color: #6c7075;
    }
}
/*landscape*/
@media screen and (orientation: landscape) {
    /* Top nav styling */
    #top_navigation {
        background-color: white;
        height: 105px;
        padding-top: 10px;
    }

    .logo {
        top: 10px;
        height: 40px;
    }

    #category_icon {
        position: absolute;
        top: 25px;
        left: 28px;
        color: #6c7075;
        font-size: 20px;
    }

    #promotion_icon {
        position: absolute;
        top: 25px;
        right: 28px;
        color: #f28500;
        font-size: 20px;
    }

    .ui-filterable {
        width: auto;
        margin-left: 20px;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
        margin-right: 20px;
    }

    #filter_icon {
        text-align: center;
        margin-top: 10px;
        font-size: 20px;
        color: #6c7075;
    }
}

#filter_icon {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    color: #6c7075;
}



/* Bottom nav styling */

#bottom_nav {
    height: 50px;
    background: white;
}

#qrcode_icon, #cart_icon, #home_icon, #user_icon, #other_icon {
    color: #6c7075;
    font-size: 20px;
    border: 10px solid white;
    background: white;
    text-align: center;

}

/*Main Content*/

#product-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    margin-bottom: 15px;
}
#product-price {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    margin-bottom: 10px;
    color: #428fe5;
}

#category-text, #availability-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    margin-bottom: 5px;
    color: #6c7075;
    font-size: 16px;
}

.quantity-table
{
    width: 100%;
    text-align: center;

}

.input-text qty{
    font-size: larger;
    text-align: center;
}

#addtocart-btn {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    border-color: #f28500;
    width: 100%;
    color: #f28500;
}
