
.header {
    padding-top: 30px;
    padding-bottom: 10px;
}

.banner{
    padding: 30px;
    background-color: #f28500;
}

#lock_icon{

    height: 30px;
    left: 20px;
    color: white;
    font-size: 40px;
}

.slogan{
    color: white;
    font-size: 10px;
    text-align: right;
    padding: 30px;
}

body{
    background-color: white;
    font-family: monstrat;
}

#footer{
    align-content: end;
}

/*.ui-content{*/
/*    font-size: 10px;*/
/*    text-align: left;*/
/*    padding: 30px;*/
/*}*/
.headings{
    text-align: left;
    font-size: 30px;
    color: #f28500;
}

input[type=text], select, textarea {
    width: 50%;
    padding: 5px;
    /*border: 1px solid #ccc;*/
    /*border-radius: 20px;*/
    /*box-sizing: border-box;*/
    margin-top: 5px;
    margin-bottom: 5px;
    resize: vertical;
    font-size: 14px;

}
input[type=date], select, textarea {
    width: 50%;
    padding: 5px;
    /*border: 1px solid #ccc;*/
    /*border-radius: 20px;*/
    /*box-sizing: border-box;*/
    margin-top: 5px;
    margin-bottom: 5px;
    resize: vertical;
    font-size: 14px;

}
input[type=email], select, textarea {
    width: 25%;
    padding: 5px;
    /*border: 1px solid #ccc;*/
    /*border-radius: 20px;*/
    /*box-sizing: border-box;*/
    margin-top: 5px;
    margin-bottom: 5px;
    resize: vertical;
    font-size: 14px;
}
input[type=password], select, textarea {
    width: 25%;
    padding: 5px;
    /*border: 1px solid #ccc;*/
    /*border-radius: 20px;*/
    /*box-sizing: border-box;*/
    margin-top: 5px;
    margin-bottom: 5px;
    resize: vertical;
    font-size: 14px;
}
input[type=password], select, textarea {
    width: 1%;
    padding: 5px;
    /*border: 1px solid #ccc;*/
    /*border-radius: 20px;*/
    /*box-sizing: border-box;*/
    margin-top: 5px;
    margin-bottom: 5px;
    resize: vertical;
    font-size: 14px;
}
#submit{
    /*width: 100%;*/
    /*font-size: 16px;*/
    color: blue;
    /*border: none;*/
    /*outline: none;*/
    /*padding: 14px 16px;*/
    /*background-color: blue;*/
    /*border-radius:4px;*/
    /*transition: all 0.4s ease;*/
    /*right:600px;*/
}
.textLabel1{
    padding: 10px;
}

@media only screen and (max-width: 768px) {
.headings{
    text-align: left;
    font-size: 30px;
    color: #f28500;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 5px;
    /*border: 1px solid #ccc;*/
    /*border-radius: 20px;*/
    /*box-sizing: border-box;*/
    margin-top: 5px;
    margin-bottom: 5px;
    resize: vertical;
    font-size: 14px;

}input[type=date], select, textarea {
    width: 100%;
    padding: 5px;
    /*border: 1px solid #ccc;*/
    /*border-radius: 20px;*/
    /*box-sizing: border-box;*/
    margin-top: 5px;
    margin-bottom: 5px;
    resize: vertical;
    font-size: 14px;

}input[type=email], select, textarea {
    width: 100%;
    padding: 5px;
    /*border: 1px solid #ccc;*/
    /*border-radius: 20px;*/
    /*box-sizing: border-box;*/
    margin-top: 5px;
    margin-bottom: 5px;
    resize: vertical;
    font-size: 14px;
}input[type=password], select, textarea {
    width: 100%;
    padding: 5px;
    /*border: 1px solid #ccc;*/
    /*border-radius: 20px;*/
    /*box-sizing: border-box;*/
    margin-top: 5px;
    margin-bottom: 5px;
    resize: vertical;
    font-size: 14px;
}

#submit{
    /*width: 100%;*/
    /*font-size: 16px;*/
    color: blue;
    /*border: none;*/
    /*outline: none;*/
    /*padding: 14px 16px;*/
    /*background-color: blue;*/
    /*border-radius:4px;*/
    /*transition: all 0.4s ease;*/
    /*right:600px;*/
}



.textLabel1{
    padding: 10px;
}

}
