/* Top nav styling */
#top_navigation {
    background-color: white;
    height: 135px;
}

.logo {
    top: 10px;
    height: 80px;
}

#category_icon {
    position: absolute;
    top: 25px;
    left: 28px;
    color: #6c7075;
    font-size: 25px;
}

#promotion_icon {
    position: absolute;
    top: 25px;
    right: 28px;
    color: #f28500;
    font-size: 25px;
}

.ui-filterable {
    width: auto;
    margin-left: 18px;
    box-shadow: #428fe5;
}

#filter_icon {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    color: #6c7075;
}

/*Main Content*/

#addtocart-btn {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    font-size: large;
    background-color: #428fe5;
    color: white;
}

.hidden {
    display: none;
}

.fieldGroup {
    display: flex;
}

/* Bottom nav styling */

#bottom_nav {
    height: 50px;
    background: white;
}

#qrcode_icon, #cart_icon, #home_icon, #user_icon, #other_icon {
    color: #6c7075;
    font-size: 20px;
    border: 10px solid white;
    background: white;
    text-align: center;

}

/*Card views styling*/

